<!DOCTYPE html>
<html>
  <head>
    <style>
    body {
      text-align: center;
      color: #14012E;
    }
  
    
    </style>
   
    <meta charset="UTF-8">
  <title class="header">~Fortune Teller~</title>
  
  </head>

  <body>
    <h1>
      ~Fortunate Fools~
      </h1>
    <img src="https://media.giphy.com/media/10TI5vPyELuuHu/giphy.gif">
    
<form method="POST" action="/tell_fortune">
  
  <p>What's your name, bold stranger? <input type="text" name="name"></p>
  
  <p>What's your sign??? <input type="text" name="sign"></p>
  <input type="submit">
</form>

  </body>
  
</html>
